.lang {
    &__link {
        border-bottom: 1px solid @white_00;
        font-size: @font-size16;
        margin: 0 8px;
        transition: border .3s;

        &:hover {
            border-bottom: 1px solid @white;
        }
    }
}